:root {
    --sidebar-width: 12%;
}

* {
    box-sizing: border-box;
}

.main {
    display: grid;
    flex-direction: row;
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #eee;
    border-right: 1px solid #ccc;
    display: grid;
}

.content {
    display: grid;
    position: absolute;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
}

.center-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 75%;
}

.labeled-entry {
    display: grid;
    vertical-align: middle;
    height: 24pt;
    padding: 8px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.memo-textbox {
    padding: 2px;
    margin-top: 2px;
    resize: none;
    border: none;
    border-bottom: 2px dotted grey;
    border-radius: 0px;
}

.item-entry {
    text-align: center;
    border: 2px dotted #cacaca;
    border-radius: 8px;
}

.compose-button {
    color: white;
    height: 12mm;
    border-radius: 6mm;
    border-style: none;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2mm;
}

.compose-button:hover {
    background-color: darkgreen;
    cursor: pointer;
    transition: background-color 0.5s;
}

.compose-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0004;
    z-index: 1;
}

.compose-form {
    display: grid;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
}
