* {
    box-sizing: border-box;
}

.main {
    display: grid;
}

.center-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 75%;
}

.add-item-textbox {
    width: 100%;
    padding: 8px;
    height: calc(24pt + 16px);
    font-size: 24pt;
    resize: none;
    border: calc(1pt + 1px) solid #b0b0b0;
    border-radius: 8px;
}

.item-entry {
    text-align: center;
    border: 2px dotted #cacaca;
    border-radius: 8px;
}
